<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
</head>
<body>
  <ul>
    <li><a href="/categories/new">Create New Category</a></li>
    <li><a href="/">Return to Home</a></li>
  </ul>
  <h1>Categories</h1>
  <ul>
    <% categories.forEach(category => { %>
      <li>
        <a href="/categories/<%= category.id %>"><%= category.name %></a>
      </li>
    <% }) %>
  </ul>
</body>
</html>